; .editorconfig

root = true

[*]
insert_final_newline = true
indent_size = 2
indent_style = tab
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[**.js]

[**.jsx]

[**.json]
indent_size = 4

[**.css]

[**.html]

[**.sql]
indent_style = space

[**.yml]
indent_style = space
indent_size = 2
